body,
p,
table {
    background-color: ghostwhite;
    margin: 0 auto;
    text-align: center;
}

.firstParagrapher p,
.fthParagrapher p {
    width: 750px;
    font-family: "Zilla Slab", serif;
    font-size: 20px;
    background-color: floralwhite;
    height: 180px;
    line-height: 27px;
    margin: 0 auto;
}

.secParagrapher p,
.trdParagrapher p,
.frthParagrapher p {
    width: 750px;
    font-family: "Zilla Slab", serif;
    font-size: 20px;
    background-color: floralwhite;
    height: 85px;
    line-height: 25px;
    margin: 0 auto;
}

h1 {
    font-family: "Abril Fatface", serif;
    background-color: firebrick;
    color: white;
    font-size: 45px;
}

h4 {
    background-color: firebrick;
    color: white;
    font-size: 25px;
    font-family: "Abril Fatface", serif;
    font-weight: 100;
    margin: 0 auto;
}

/* Table */

table {
    border: 1px solid black;
    font-size: 16px;
    background-color: white;
    width: 750px;
}

table tr {
    font-family: "Zilla Slab", serif;
    font-size: 18px;
}

td {
    border-top: 1px solid black;
}

th {
    font-size: 20px;
    background-color: tan;
}
